<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <dl>
  <div class="task_title">
    <dt><%= form.label :title %></dt>
    <dd><%= form.text_field :title %></dd>
  </div>
  <div class="task_content">
    <dt><%= form.label :content %></dt>
    <dd><%= form.text_area :content, size: "30x5" %></dd>
  </div>
  <div class="task_timelimit">
    <dt><%= form.label :timelimit %></dt>
    <dd><%= form.date_select :timelimit %></dd>
  </div>
  <div class="task_status">
    <dt><%= form.label :status %></dt>
    <dd><%= form.select :status, [["未着手"],["着手中"],["完了"]] %></dd>
  </div>
  <div class="task_priority">
    <dt><%= form.label :priority %></dt>
    <dd><%= form.select :priority, Task.priorities.keys.to_a, include_blank: true %></dd>
  </div>
  <div class="task_label">
    <dt><%= form.label :ラベル %></dt>
    <%= form_for @task do |form| %>
      <dd><%= form.collection_check_boxes :label_ids, Label.all, :id, :name%></dd>
      <%= link_to 'ラベル登録へ', new_label_path%><br><br>
      <%= form.submit %>
    <% end %>
  </div>
  </dl>
<% end %>
<%= link_to '一覧画面', tasks_path, class: 'btn btn-primary' %>
