<h1>タスク詳細</h1>
<p>タイトル: <%= @task.title %></p>
<p>内容: <%= @task.content %></p>
<p>終了期限: <%= @task.deadline %></p>
<p>状態: <%= @task.status %></p>
<p>優先順位: <%= @task.priority %></p>
<%= link_to '一覧画面', tasks_path %>
