<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<h2>タスク一覧</h2>
<table>
  <tr>
    <th>タスク</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>状態</th>
    <th>優先順位</th>
  </tr>
<% @user.tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.timelimit %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
  </tr>
<% end %>
</table>
<%= link_to '一覧画面', admin_users_path  %>
